##
## EPITECH PROJECT, 2024
## The Plazza
## File description:
## .gitignore
##

# Ignore object files
obj/main.o
obj/Termination.o
obj/subprocess/subprocess.o
obj/Kitchen/Kitchen.o
obj/Kitchen/Cook.o
obj/Wrappers/BalancingSemaphore.o
obj/Wrappers/CountingSemaphore.o
obj/Pizza.o
obj/Shell.o
obj/tests/Order.o
obj/tests/Shell.o
obj/tests/Pizza.o

# Ignore precomiled headers
obj/Termination.hpp.gch
obj/subprocess/subprocess.hpp.gch
obj/Kitchen/Kitchen.hpp.gch
obj/Kitchen/Cook.hpp.gch
obj/Wrappers/BalancingSemaphore.hpp.gch
obj/Wrappers/CountingSemaphore.hpp.gch
obj/Pizza.hpp.gch
obj/Shell.hpp.gch
obj/tests/Order.hpp.gch
obj/tests/Shell.hpp.gch
obj/tests/Pizza.hpp.gch

# Ignore dependency files
obj/main.d
obj/Termination.d
obj/subprocess/subprocess.d
obj/Kitchen/Kitchen.d
obj/Kitchen/Cook.d
obj/Wrappers/BalancingSemaphore.d
obj/Wrappers/CountingSemaphore.d
obj/Pizza.d
obj/Shell.d
obj/tests/Order.d
obj/tests/Shell.d
obj/tests/Pizza.d

# Ignore binary files
a.out
plazza
plazza_tests

# Ignore logs and reports
*.gcda
*.gcno
vgcore.*

# Ignore coding-style logs
coding-style-reports.log

# Ignore temporary files
*tmp*
*~
\#*#
.#*

# Miscellanous
